<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="WebSharper" version="3.6.11.234" targetFramework="net461" />
  <package id="WebSharper.Compiler" version="3.6.11.234" targetFramework="net461" />
  <package id="WebSharper.Html" version="3.6.9.21" targetFramework="net461" />
  <package id="WebSharper.Owin" version="3.6.10.125" targetFramework="net461" />
  <package id="WebSharper.UI.Next" version="3.6.11.207" targetFramework="net461" />
  <package id="WebSharper.Warp" version="3.6.16.97" targetFramework="net461" />
</packages>