<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="WebSharper" version="3.6.11.234" targetFramework="net45" />
  <package id="WebSharper.Forms" version="3.6.10.48-alpha" targetFramework="net461" />
  <package id="WebSharper.Html" version="3.6.8.20" targetFramework="net45" />
  <package id="WebSharper.Owin" version="3.6.9.124" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.6.11.207" targetFramework="net461" />
</packages>