/*********************************************************
* Cropbox
**********************************************************/

.cropper {
    width: 800px; 
    height: 800px; 
    margin: auto;
}

.imageBox {
    position: relative;
    height: 80%;
    width: 80%;
    border: 1px solid #0079a1;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
    margin: auto;
}

    .imageBox .thumbBox {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 80%;
        height: 80%;
        margin-top: -15%;
        margin-left: -15%;
        box-sizing: border-box;
        box-shadow: 0 0 0 1000px rgba(26, 26, 26, 0.22);
        background: none repeat scroll 0% 0% transparent;
    }

    .imageBox .spinner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        line-height: 100%;
        background: rgba(0,0,0,0.7);
    }

    .imageBox .zoom-btn {
        width: 45px;
        height: 45px;
        position: absolute;
        right: 5px;
        top: 5px;
        color: white;
    }
